# Node.js dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
.pnp
.pnp.js

# Build and coverage output
/build
/coverage

# Environment variables
.env
.env.local
.env.*.local

# Misc
.DS_Store
